CompileFlags:
  CompilationDatabase: out/build/x64-debug


Diagnostics:
  UnusedIncludes: Strict
  Includes:
    IgnoreHeader:
      # Header proxy for specified way of including vulkan.hpp in Lustra.
      - "LustraVulkan\\.h" 
      # Ignore all files from vendored libraries.
      - "vendor/.*"
      # Header of headers for ease of use.
      - "LustraLib\\.h"
